<!DOCTYPE html>
<head>
 	<link rel="stylesheet" type="text/css" href="/styles/default.css">
 	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">

 	<script src="/js/jquery/jquery-2.1.4.min.js"></script>
 	<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
</head>
<body>
  <header>
    <img src="/images/ozu.jpg">
    <h1>Ozu's Blog</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Galleries</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </header>

  {{{body}}}
  
</body>
