<div class="container">

{{# each data.posts}}

	<article>
	    <h2><a href="#" style="color:#000">{{title}}</a></h2>
	    <p>{{{content.brief}}} <a href="#" style="color:blue; text-decoration: none;">View more</a></p>
  	</article>
{{/each}}

</div>